.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-image-1 {
  width: 661px;
  height: 564px;
  margin: 0 auto 0 2px;
}

.u-section-1 .u-text-1 {
  margin: -553px 7px 0 689px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px 330px 0 auto;
  padding: 10px 15px 10px 13px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -43px 91px 60px auto;
  padding: 10px 20px 10px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 130px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 461px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 290px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -43px;
    margin-right: auto;
    margin-left: 20px;
  }
}