.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

.u-section-1 .u-image-1 {
  width: 633px;
  height: 422px;
  margin: 4px auto 0 3px;
}

.u-section-1 .u-text-1 {
  margin: -421px 3px 18px 650px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -415px;
    margin-right: 0;
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-top: -55px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -272px;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 99px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -293px;
    margin-left: 0;
  }
}